<div class="logo">
    <h4><a href="/">NJTDM <strong>Admin</strong></a></h4>
</div>
<nav id="sidebar" class="sidebar nav-collapse collapse">
    <ul id="side-nav" class="side-nav">
        <li <% if(page == 'dashboard') {%> class='active' <%}%> >
            <a href="/"><i class="fa fa-home"></i> <span class="name">Dashboard</span></a>
        </li>
        <li class="panel <% if(panel == 'marketarea') {%> active <%}%>">
            <a class="accordion-toggle <% if(panel != 'marketarea') {%> collapsed <%}%>" data-toggle="collapse" data-parent="#side-nav" href="#forms-collapse">
                    <i class="fa eicon-map"></i> <span class="name">Market Areas</span>
            </a>
            <ul id="forms-collapse" class="panel-collapse <% if(panel == 'marketarea') {%> in <%}else{%> collapse <%}%>">
                <% nav.marketareas.forEach(function(curr_ma,index){ %>
                    <li class="panel">
                        <a class="ma-toggle accordion-toggle <% if (marketarea.id != curr_ma.id) {%>collapsed<%}%>" data-toggle="collapse" data-parent="#menu-levels-collapse" href="#sub-menu-ma<%= index %>-collapse"><%= curr_ma.name %></a>
                        <ul id="sub-menu-ma<%= index %>-collapse" class="panel-collapse <% if (marketarea.id != curr_ma.id) {%>collapse<%}%>">
                            <li <% if(page == 'ma-overview' && marketarea.id == curr_ma.id) {%> class="active" <%}%>><a href="/marketarea/<%= curr_ma.id %>">Overview</a></li>
                            <li <% if(page == 'ma-models' && marketarea.id == curr_ma.id) {%> class="active" <%}%>><a href="/marketarea/<%= curr_ma.id %>/models">Modeling</a></li>
                            <li><a href="/map/" target="_blank">Map View</a></li>
                        </ul>
                    </li>
                <% }) %>
                
                <li <% if(page == 'ma-new') {%> class="active" <%}%> ><a href="/marketarea/new">Add New <i class="fa fa-plus"></i></a></li>
            </ul>
        </li>
        <li class="panel <% if(panel == 'data') {%> active <%}%>" >
            <a class="accordion-toggle <% if(panel != 'data') {%> collapsed <%}%>" data-toggle="collapse" data-parent="#side-nav" href="#stats-collapse"><i class="fa fa-bar-chart-o"></i> <span class="name">Data Sources</span></a>
            <ul id="stats-collapse" class="panel-collapse <% if(panel == 'data') {%> in <%}else{%> collapse <%}%>">
                <li <% if(page == 'gtfs') {%> class="active" <%}%> ><a href="/data/gtfs">GTFS</a></li>
                <li <% if(page == 'acs') {%> class="active" <%}%> ><a href="/data/acs">ACS</a></li>
                <li <% if(page == 'lodes') {%> class="active" <%}%> ><a href="/data/lodes">LODES</a></li>
                <li <% if(page == 'ctpp') {%> class="active" <%}%> ><a href="/data/ctpp">CTPP</a></li>
                <li <% if(page == 'farebox') {%> class="active" <%}%> ><a href="/data/ctpp">Farebox</a></li>
                <li <% if(page == 'custom') {%> class="active" <%}%> ><a href="/data/custom">Custom</a></li>
            </ul>
        </li>
        <li>
            <a href="/docs/NJTransit User's Manual.pdf" target="_blank"><i class="fa eicon-book-open"></i> <span class="name">User's Guide</span></a>
        </li>
        <!-- <li class="panel <% if(panel == 'guide') {%> active <%}%>">
            <a class="accordion-toggle <% if(panel != 'guide') {%> collapsed <%}%>" data-toggle="collapse" data-parent="#side-nav" href="#menu-levels-collapse"><i class="fa eicon-book-open"></i> <span class="name">User's Guide</span></a>
            <ul id="menu-levels-collapse" class="panel-collapse <% if(panel == 'guide') {%> in <%}else{%> collapse <%}%>">
                <li><a href="/guide/overview">Overview</a></li>
                <li><a href="/guide/getting_started">Getting Started</a></li>
                <li class="panel">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#menu-levels-collapse" href="#sub-menu-1-collapse">Data Sources</a>
                    <ul id="sub-menu-1-collapse" class="panel-collapse collapse">
                        <li><a href="/guide/gtfs">GTFS</a></li>
                        <li><a href="/guide/acs">ACS</a></li>
                        <li><a href="/guide/ctpp">CTPP</a></li>
                        <li><a href="/guide/lodes">LODES</a></li>
                        <li><a href="/guide/farebox">Farebox</a></li>
                        <li><a href="/guide/custom_data">Custom Data</a></li>
                    </ul>
                </li>
                <li class="panel">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#menu-levels-collapse" href="#sub-menu-2-collapse">Market Areas</a>
                    <ul id="sub-menu-2-collapse" class="panel-collapse collapse">
                        <li><a href="/guide/new_market_area">Add Market Area</a></li>
                        <li><a href="/guide/edit_market_area">Edit Market Area</a></li>
                    </ul>
                </li>
                <li class="panel">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#menu-levels-collapse" href="#sub-menu-3-collapse">Map View</a>
                    <ul id="sub-menu-3-collapse" class="panel-collapse collapse">
                        <li><a href="/guide/mapmodeling">Modeling View</a></li>
                        <li><a href="/guide/mapgtfs">GTFS View</a></li>
                        <li><a href="/guide/mapcensus">Census View</a></li>
                    </ul>
                </li>
                <li class="panel">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#menu-levels-collapse" href="#sub-menu-4-collapse">Modeling</a>
                    <ul id="sub-menu-4-collapse" class="panel-collapse collapse">
                        <li><a href="/guide/quickstart">Quick Start</a></li>
                        <li><a href="/guide/triptables">Trip Tables</a></li>
                        <li><a href="/guide/odsources">OD Point Sources</a></li>
                        <li><a href="/guide/regression">Regression Models</a></li>
                    </ul>
                </li>
            </ul>
        </li> -->
        <li class="visible-xs">
            <a href="login.html"><i class="fa fa-sign-out"></i> <span class="name">Sign Out</span></a>
        </li>
    </ul>
    <div id="sidebar-settings" class="settings">
    
    
  <!--   <button type="button" data-value="icons" class="btn-icons btn btn-transparent btn-sm">Icons</button>
    <button type="button" data-value="auto" class="btn-auto btn btn-transparent btn-sm">Auto</button> -->
    
</div>
</nav>