<%- partial('../partials/nav') %>
    <div class="wrap" ng-controller="ACSController">
        <%- partial('../partials/header') %>
		<div class="content container">
		    <div class="row">
		        <div class="col-md-12">
		            <h2 class="page-title">ACS <small>American Community Survey</small></h2>
		        </div>
		    </div>
		    <%- partial('pages/acs-content') %>
		</div>
     <%- partial('partials/deleteModal') %>

<script>
	datasets = <%- JSON.stringify(records) %>;
</script>
<script src="/lib/select2.js"></script>
<script src="/js/pages/acs.js"></script>