<div class="row">
    <div class="col-md-7">        
        <section class="widget">
            <header>
                <h4>
                    Current Data
                </h4>
            </header>
            <div class="body">
           
                <table class="table table-striped no-margin sources-table">
                    <thead>
                    <tr>
                        <th class="source-col-header">State FIPS</th>
                        <th>Year</th>
                        <th>Source</th>
                        <th>Sum Level</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <% 
                        records.forEach(function(rec){
                    %>
                        <tr>
                            <td><%= rec['stateFips'] %></td>
                            <td><%= rec['year'] %></td>
                            <td><%= rec['dataSource'] %></td>
                            <td><%= rec['sumlevel'] %></td>
                            <td>
                            <button class="btn btn-danger btn-sm delete" ng-click="delete(<%=rec['id']%>)">
                                <i class="fa fa-trash"></i>
                                <span>Delete</span>
                            </button>
                            </td>
                        </tr>
                    <%        
                        }) 
                    %>
                   
                    
                    </tbody>
                </table>
            </div>
        </section>
        <section class="widget">
            <header>
                <h4><i class="fa fa-cog"></i> Add New Data <small></small></h4>
            </header>
            <div class="body">
                <form id="article-options" class="form-horizontal form-condensed label-left" action="/acs/load/" method="post">
                    <fieldset>
                        <legend class="section">Options</legend>
                        <div class="control-group">
                                <label for="state" class="control-label">State</label>
                                <div class="controls form-group">
                                    <select id="state" data-placeholder="Select state"
                                            required="required" class="col-xs-12 col-sm-6 chzn-select select" name="state">
                                        <option value=""></option>
                                        <option value="01">Alabama</option>
                                        <option value="02">Alaska</option>
                                        <option value="04">Arizona</option>
                                        <option value="05">Arkansas</option>
                                        <option value="06">California</option>
                                        <option value="08">Colorado</option>
                                        <option value="09">Connecticut</option>
                                        <option value="DE">Delaware</option>
                                        <option value="DC">District Of Columbia</option>
                                        <option value="FL">Florida</option>
                                        <option value="GA">Georgia</option>
                                        <option value="HI">Hawaii</option>
                                        <option value="ID">Idaho</option>
                                        <option value="IL">Illinois</option>
                                        <option value="IN">Indiana</option>
                                        <option value="IA">Iowa</option>
                                        <option value="KS">Kansas</option>
                                        <option value="KY">Kentucky</option>
                                        <option value="LA">Louisiana</option>
                                        <option value="ME">Maine</option>
                                        <option value="MD">Maryland</option>
                                        <option value="MA">Massachusetts</option>
                                        <option value="MI">Michigan</option>
                                        <option value="MN">Minnesota</option>
                                        <option value="MS">Mississippi</option>
                                        <option value="MO">Missouri</option>
                                        <option value="MT">Montana</option>
                                        <option value="NE">Nebraska</option>
                                        <option value="NV">Nevada</option>
                                        <option value="NH">New Hampshire</option>
                                        <option value="34">New Jersey</option>
                                        <option value="35">New Mexico</option>
                                        <option value="36">New York</option>
                                        <option value="NC">North Carolina</option>
                                        <option value="ND">North Dakota</option>
                                        <option value="OH">Ohio</option>
                                        <option value="OK">Oklahoma</option>
                                        <option value="OR">Oregon</option>
                                        <option value="42">Pennsylvania</option>
                                        <option value="RI">Rhode Island</option>
                                        <option value="SC">South Carolina</option>
                                        <option value="SD">South Dakota</option>
                                        <option value="TN">Tennessee</option>
                                        <option value="TX">Texas</option>
                                        <option value="UT">Utah</option>
                                        <option value="VT">Vermont</option>
                                        <option value="VA">Virginia</option>
                                        <option value="WA">Washington</option>
                                        <option value="WV">West Virginia</option>
                                        <option value="WI">Wisconsin</option>
                                        <option value="WY">Wyoming</option>
                                    </select>
                                </div>
                            </div>

                            <div class="control-group">
                                <label for="dataSource" class="control-label">Data Source</label>
                                <div class="controls form-group">
                                    <select id="dataSource" data-placeholder="Data Source"
                                            required="required" class="col-xs-12 col-sm-6 chzn-select" name="dataSource">
                                        <option value=""></option>
                                        <option value="5">ACS 5 Year</option>
                                        <option value="3">ACS 3 Year</option>
                                        <option value="1">ACS 1 Year</option>
                                    </select>
                                </div>
                            </div>

                            <div class="control-group">
                                <label for="year" class="control-label">Base Year</label>
                                <div class="controls form-group">
                                    <select id="year" data-placeholder="Year"
                                            required="required" class="col-xs-12 col-sm-6 chzn-select" name="year">
                                        <option value=""></option>
                                        <option value="2010">2010</option>
                                        <option value="2011">2011</option>
                                        <option value="2012">2012</option>
                                    </select>
                                </div>
                            </div>

                            <div class="control-group">
                                <label for="sumlevel" class="control-label">Sum Level</label>
                                <div class="controls form-group">
                                    <select id="sumlevel" data-placeholder="Sum Level"
                                            required="required" class="col-xs-12 col-sm-6 chzn-select" name="sumlevel">
                                        <option value="tracts">Tracts</option>
                                        <option value="blockgroups">Block Groups</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-actions">
                                <button type="submit" class="btn btn-primary">Add Dataset</button>
                            </div>
                            <% if(flash && flash.err) { %>
                                <ul class="alert alert-info">
                            <% Object.keys(flash.err).forEach(function(error) { %>
                                    <li><%- flash.err[error].message %></li>
                            <% }) %>
                                </ul>
                            <% } %>

                    </fieldset>
                </form>
            </div>
        </section>
    </div>
    <div class="col-md-5">
        <section class="widget">
                    <header>
                        <h5>
                            <i class="fa fa-tasks"></i>
                            User's Guide
                        </h5>
                        <div class="widget-controls">
                            <a title="Options" href="#"><i class="glyphicon glyphicon-cog"></i></a>
                            <a data-widgster="expand" title="Expand" href="#" style="display: none;"><i class="glyphicon glyphicon-plus"></i></a>
                            <a data-widgster="collapse" title="Collapse" href="#"><i class="glyphicon glyphicon-minus"></i></a>
                            <a data-widgster="close" title="Close" href="#"><i class="glyphicon glyphicon-remove"></i></a>
                        </div>
                    </header>
                    <div class="body">
                        <div class="panel-group" id="accordion2">
                            <div class="panel">
                                <div class="panel-heading">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                                        About ACS
                                    </a>
                                </div>
                                <div id="collapseOne" class="panel-collapse in" style="height: auto;">
                                    <div class="panel-body">
                                        The American Community Survey is the primary demographic data source for Transit Demand Modelling, regression models were based on 2011 ACS 5 Year Data but can be modeled with a number of different ACS Data sources. 
                                    </div>
                                </div>
                            </div>
                            <div class="panel">
                                <div class="panel-heading">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                                        Loading New Data
                                    </a>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse" style="height: 0px;">
                                    <div class="panel-body">
                                        ACS Data is loaded directly from the census ACS api into our Transit Demand Modeling database.
                                    </div>
                                </div>
                            </div>
                            <div class="panel">
                                <div class="panel-heading">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
                                        State Fips
                                    </a>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse" style="height: 0px;">
                                    <div class="panel-body">
                                        State fips is the code used by the census to identify a state. 
                                    </div>
                                </div>
                            </div>
                            <div class="panel">
                                <div class="panel-heading">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
                                        Sum Level
                                    </a>
                                </div>
                                <div id="collapseFour" class="panel-collapse collapse" style="height: 0px;">
                                    <div class="panel-body">
                                        In this case sum level is the geographic level to which the data is summed. For this tool we 
                                        can use either census tracts or block groups.
                                    </div>
                                </div>
                            </div>
                            <div class="panel">
                                <div class="panel-heading">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseFive">
                                        Year and Data Source
                                    </a>
                                </div>
                                <div id="collapseFive" class="panel-collapse collapse" style="height: 0px;">
                                    <div class="panel-body">
                                       ACS Data is available in 1,3 &amp; 5 year summary groups, the datasource denotes which of these groups is being used. The year always denotes the last year of the summary group.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
        
    </div>
</div>