<div class="row">
    <div class="col-md-7">        
        <section class="widget">
            <header>
                <h4>
                    Current Data
                </h4>
            </header>
            <div class="body">
           
                <table class="table table-striped no-margin sources-table">
                    <thead>
                    <tr>
                        <th class="source-col-header">Agency</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Num Routes</th>
                        <th>Num Stops</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <% 
                        records.forEach(function(rec){
                    %>
                        <tr id="gtfs_<%- JSON.stringify(rec.id) %>">
                            <td><%= rec['agency'] %></td>
                            <td><%= rec['startDate'] %></td>
                            <td><%= rec['endDate'] %></td>
                            <td><%= rec['numRoutes'] %></td>
                            <td><%= rec['numStops'] %></td>
                            <td>
                            <button class="btn btn-danger btn-sm delete" data-toggle="modal" data-target="#deleteModal" data-backdrop="false"  ng-click="deleteGtfs(<%- JSON.stringify(rec.id) %>)">
                              <i class="fa fa-trash"></i>
                                <span>Delete</span>
                            </button>
                            </td>
                        </tr>
                    <%        
                        }) 
                    %>
                    </tbody>
                </table>
            </div>
        </section>
        <section class="widget">
            <header>
                <h4>
                    Upload GTFS Zip file
                </h4>
            </header>
            <div class="body">
                <form id="fileupload" action="/data/gtfs/upload" method="POST" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="dropzone" class="dropzone">
                                Drop files here
                                <i class="fa fa-download-alt pull-right"></i>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 fileupload-progress fade">
                            <!-- The global progress bar -->
                            <div class="progress progress-success progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                                <div class="bar" style="width:0%;"></div>
                            </div>
                            <!-- The extended global progress information -->
                            <div class="progress-extended">&nbsp;</div>
                        </div>
                    </div>
                    <div class="form-actions fileupload-buttonbar no-margin">
                        <span class="btn btn-sm btn-default fileinput-button">
                                <i class="fa fa-plus"></i>
                                <span>Add files...</span>
                                <input name="files" multiple="" type="file">
                            </span>
                        <button type="submit" class="btn btn-primary btn-sm start">
                            <i class="fa fa-upload"></i>
                            <span>Start upload</span>
                        </button>
                        <button type="reset" class="btn btn-inverse btn-sm cancel">
                            <i class="fa fa-ban"></i>
                            <span>Cancel upload</span>
                        </button>
                    </div>
                    <div class="fileupload-loading"><i class="fa fa-spin fa-spinner"></i></div>
                    <!-- The table listing the files available for upload/download -->
                    <table role="presentation" class="table table-striped"><tbody class="files" data-toggle="modal-gallery" data-target="#modal-gallery"></tbody></table>
                </form>
            </div>
        </section>
    </div>
    <div class="col-md-5">
          <%- partial('../guide/gtfs-guide') %>
    </div>
</div>