<%- partial('../partials/nav') %>
    <div class="wrap">
        <%- partial('../partials/header') %>
		<div class="content container">
		    <div class="row">
		        <div class="col-md-12">
		            <h2 class="page-title"><%= marketarea.name %> <small> Overview <%=page%></small></h2>
		        </div>
		    </div>
		    <%- partial('pages/overview-content') %>
		</div>
<script src="/js/select2.js"></script>
<script src="/js/pages/ma-overview.js"></script>

